.Cell {
    width: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
}

.BombValue {
}



