#gameOverImage {
    opacity: 100;
    z-index: 4;
    height: 70%;
    max-width: 100%;
    margin: 0 50px;
    background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
    0px 80px no-repeat;
    background-repeat: repeat-x;
    position: relative;
    padding-top: 20px;
}


.tryAgain {
    cursor: pointer;
    margin: 0 50px;
    border-radius: 7px;
    font-style: italic;
    font-size: 25px;
    background: #4db7d2;
    color: rgb(246, 217, 217);
    padding: 10px;
    font-weight: 700;
}