#gameOverImage {
    opacity: 100;
    z-index: 4;
    height: 70%;
    max-width: 100%;
    margin: 0 50px;
    background: url("https://www.google.com/logos/fnbx/minesweeper/lose_screen.png")
    0px 80px no-repeat;
    background-repeat: repeat-x;
    position: relative;
    padding-top: 20px;
}

.modal-overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-overlay.visible {
    opacity: 1;
}

.tryAgain {
    cursor: pointer;
    margin: 0 50px;
    border-radius: 7px;
    font-style: italic;
    font-size: 25px;
    background: #4db7d2;
    color: rgb(246, 217, 217);
    padding: 10px;
    font-weight: 700;
    transition: transform 0.2s ease;
}

.tryAgain:hover {
    transform: scale(1.05);
}