.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: white;
  user-select: none;
}